.container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.item-container {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}

.input-field {
  margin-bottom: 10px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
}

.input-field input[type="text"] {
  width: calc(100% - 20px); /* Adjusted width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-item-btn {
  background-color: #218838;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
}

.add-item-btn:hover {
  background-color: #218838;
}

.remove-item-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 2px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30px;
}

.remove-item-btn:hover {
  background-color: #bd2130;
}

.monetary-values-container {
  margin-top: 20px;
}

.monetary-values-container p {
  margin: 5px 0;
}

.next-btn {
  background-color: #2831a7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-btn:hover {
  background-color: #2831a7;
}

/* Adjusted margin and width for input fields and labels */

.it1 {
  font-size: smaller;
  margin-top: 10px;
  margin-left: -5px;
}

.input-field1 {
  width: 70px;
  margin-top: -30px;
  margin-left: 77px;
}

.it2 {
  font-size: smaller;
  margin-top: -30px;
  margin-left: 190px;
}

.input-field2 {
  width: 70px;
  margin-top: -30px;
  margin-left: 236px;
}

.it3 {
  font-size: smaller;
  margin-top: -30px;
  margin-left: 160px;
}

.input-field3 {
  width: 70px;
  margin-top: -30px;
  margin-left: 236px;
}

.it4 {
  font-size: smaller;
  margin-top: 15px;
  margin-left: 1px;
}

.input-field4 {
  width: 70px;
  margin-top: -27px;
  margin-left: 50px;
}

.it8 {
  font-size: smaller;
  margin-top: 15px;
  margin-left: 10px;
}

.input-field8 {
  width: 160px;
  margin-top: -30px;
  margin-left: 130px;
}

.it7 {
  font-size: smaller;
  margin-top: -35px;
  margin-left: 170px;
}

.input-field7 {
  width: 70px;
  margin-top: -30px;
  margin-left: 236px;
}

.it5 {
  font-size: smaller;
  margin-top: 20px;
}

.input-field5 {
  width: 180px;
  margin-top: 14px;
  margin-left: -1px;
}
